.homepage {
    display: flex;
    flex-direction: row;
}

.homepage__nav {
    flex: 0.2;
}

.homepage__timeline {
    flex: 0.8;
}

@media screen and (max-width: 899px) {
    .homepage__nav {
        min-width: 58px;
        flex: 0.1;
    }
    
    .homepage__timeline {
        flex: 0.9;
    }
}

@media screen and (max-width: 599px) {
    .homepage {
        flex-direction: column-reverse;
    }

    .homepage__nav {
        display: flex;
        flex-direction: row;
    }

}